# Python
__pycache__/
*.pyc
venv/
.env
.pytest_cache/

# Node
node_modules/
build/
.env.local

# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
ios/Pods/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
